<nav class="bar bar-tab">
  <a class="tab-item" id="info">
    <span class="icon icon-info"></span>
    <span class="tab-label" onclick="javascript:window.location.href='/index.php/Place/info?place={$pid}'">信息</span>
  </a>
  <a class="tab-item" id="photos">
    <span class="icon icon-pages"></span>
    <span class="tab-label" onclick="javascript:window.location.href='/index.php/Place/photos?place={$pid}'">相册</span>
  </a>
  <a class="tab-item" id="hotel">
    <span class="icon icon-home"></span>
    <span class="tab-label" onclick="javascript:window.location.href='/index.php/Place/hotel?place={$pid}'">住宿</span>
  </a>
  <a class="tab-item" id="resturant">
    <span class="icon icon-gear"></span>
    <span class="tab-label" onclick="javascript:window.location.href='/index.php/Place/resturant?place={$pid}'">餐饮</span>
  </a>
  <a class="tab-item" id="news" target="_blank">
    <span class="icon icon-more"></span>
    <span class="tab-label" onclick="javascript:window.location.href='/index.php/Place/news?place={$pid}'">活动</span>
  </a>
</nav>