<div class="modal fade" id="coverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
	        <h4 class="modal-title" id="myModalLabel">选择封面</h4>
	      </div>
	      <div class="modal-body">
	   			<volist name="img_arr" id="vo">
	   				<if condition="$i-1 % 5 ==0"><p>
					</if>
	   				 <img src="__UPLOADS__/{$vo.img_url}" alt="" style="width:100px;height:100px;" id="coverImg{$key}" onclick="setCover.setCover({$key})">
	   				 <if condition="$i % 5 ==0"></p>
					</if>
				</volist>
	      </div>
	  </div>
	</div>
</div>