<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link type="text/css" rel="stylesheet" href="__CSS__/theme/blue_style.css">
<link type="text/css" rel="stylesheet" href="__CSS__/theme/medical.css">
<title>{$name}</title>
</head>
<body>
  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper" style="height:100%">

      <div class="swiper-slide sliderbg_menu" style="height:100%">
          <div class="swiper-container swiper-nested">
                   <div class="swiper-wrapper">
                        <div class="swiper-slide">
                                  <div class="slide-inner">
                                        <div class="logo"><h1><center>{$name}</center></h1></div>
                                        <div class="menu">
                                        <ul>
                                        <li><a href="{:U("Place/info?place=$pid")}"><img src="/Public/css/images/home.png" alt="" title="" /><span>信息</span></a></li>
                                        <li><a href="{:U("Place/location?place=$pid")}"><img src="/Public/css/images/map.png" alt="" title="" /><span>地图</span></a></li>
                                        <li><a href="{:U("Place/hotel?place=$pid")}"><img src="/Public/css/images/hotel.png" alt="" title="" /><span>住宿</span></a></li>
                                        <li><a href="{:U("Place/resturant?place=$pid")}"><img src="/Public/css/images/resturant.png" alt="" title="" /><span>餐饮</span></a></li>
                                        <li><a href="{:U("Place/photos?place=$pid")}"><img src="/Public/css/images/photos.png" alt="" title="" /><span>相册</span></a></li>
                                        <li><a href="{:U("Place/comments?place=$pid")}"><img src="/Public/css/images/comment.png" alt="" title="" /><span>评论</span></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                        </div>
                                 </div>
                         </div>
                   </div>
          </div> 
      </div>
</body>
</html> <script type="text/javascript">